<!DOCTYPE html>
<html>
<head>
  <title>CourseFollower</title>
  <%= stylesheet_link_tag 'styles' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
Course Follower
<br /><br /><br /><br /><br />
<%= yield %>

</body>
</html>
